.slider
  position: relative 


  background: no-repeat center/cover

  &::before
        content: '' 
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: rgba($dark, 0.7)
 
  &__inner
    position: relative
    padding-top: 6.7rem
    
    &-row
      display: flex
      justify-content: space-between
      align-items: center
      
      